{% extends 'App/top_genres.html' %}


{% block playlist %}
        <a href="{{ playlist_link }}" class="link-light link-playlist fw-bold">Новый плейлист:</a>
        <p class="side_text">{{ track1 }} • {{ artist1 }}</p>
        <p class="side_text">{{ track2 }} • {{ artist2 }}</p>
        <p class="side_text">{{ track3 }} • {{ artist3 }}</p>
        <p class="side_text">{{ track4 }} • {{ artist4 }}</p>
        <p class="side_text">{{ track5 }} • {{ artist5 }}</p>
        <p class="side_text">{{ track6 }} • {{ artist6 }}</p>
{% endblock playlist %}