{% extends 'App/user.html' %}

{% block genres %}
<p class='side_title'>Ошибка</p>
<p class="side_text">Похоже на вашем аккауте было</p>
<p class="side_text">прослушано недостаточно</p>
<p class="side_text">треков для составления</p>
<p class="side_text">рекомендаций</p>
{% endblock genres %}
{% block playlist %}
<p class='side_title'>Внимание</p>
<p class="side_text">Чем больше мы будем</p>
<p class="side_text">знать о ваших вкусах, тем</p>
<p class="side_text">точнее будут рекомендации</p>
{% endblock playlist %}