{% extends 'App/base.html' %}

{% block content %}
    <div class="row justify-content-between align-items-start offset_to_center">
        <div class='col-xl-3  text-center'>
        {% block genres %}{% endblock genres %}
        </div>
        <div class='col-xl-6 d-flex flex-column align-items-center'>
            <img src="{{ userpic }}" class='rounded-pill user_pic' width="150px">
            <p class="text-white mt-3 font-weight-bold user_name">{{ username }}</p>
            <div class="d-flex flex-wrap justify-content-center">
                <form action='top_genres' method='GET' class='mx-1'>
                    {% csrf_token %}
                    <button type="submit" class="text-white border-white rounded-pill green_button py-1">
                        Обновить прослушанное
                    </button>
                </form>
                <form action='create_playlist' method='GET' class='mx-1'>
                    {% csrf_token %}
                    <button type="submit" class="text-white border-white rounded-pill green_button py-1" >
                        Сгенерировать плейлист
                    </button>
                </form>
            </div>
            <a href="{% url 'App:index' %}" class='col-md'>
                <button type="button" class="text-white border-white rounded-pill gen-playlist_button py-1">
                    Выйти из аккаунта
                </button>
            </a>
        </div>
        <div class="col-xl-3 text-center">
        {% block playlist %}{% endblock playlist %}
        </div>
    </div>
{% endblock content %}