:root { /* Переменные цветов из ТЗ */
    --green: #1DB954;
    --grey: #383434;
    --purple: #4f399b;
    --white: #ffffff;
}
.user_name {
    font-weight: bold;
    font-size: 36px;
}
.user_name:hover{
    cursor: default;
}
body {
    font-family: Montserrat;
    font-size: 18px;
    color: var(--white);
    background-color: var(--grey);
}
/* Выше стили для простых текстов на странице*/
/* Ниже стили кнопок */
.green_button {
    min-width: 300px;
    margin-top: 10px;
    background-color: #1DB954;
    font-weight: bold;
    border-color: var(--white);
    border-style: solid; /* Чтобы обводка вокруг кнопок была похожей на макет */
    border-width: 2px;
    color: var(--white);
}
.green_button:hover{
    text-shadow: 2px 2px 1px black;
}
.exit_button {
    margin-top: 10px;
    min-width: 300px;
    background-color: var(--purple);
    font-weight: bold;
    border-style: solid;
    color: var(--white);
    text-decoration: none;
    margin-bottom: 20%;
}
.exit_button:hover {
    text-shadow: 2px 2px 1px black;
}
.offset_to_center {
    margin-top: 27vh;
}
.disabled {
    background-color: #166b34;
    color: black;
    border-color: black;
}
.disabled:hover{
    text-shadow: 0px 0px 0px black;
}
.side_text {
    color: var(--white);
    font-weight: lighter;
    word-wrap: normal;
}
.side_title {
    font-weight: bold;
}
.link-playlist {
    color: var(--white);
}
.side_title:hover{
    cursor: default;
}
.user_pic {
    margin-top: 70px;
}
.link-playlist:hover {
    text-decoration: none;
    cursor: pointer;
    color: var(--white);
    text-shadow: 2px 2px 1px black;
}
@media (max-height: 750px) and (min-width: 1200px){
        .offset_to_center {
        margin-top: 20vh;
    }
}
@media (max-height: 500px) and (min-width: 1200px){
        .offset_to_center {
        margin-top: 0px;
    }
}
@media (max-width: 1199px){
    .offset_to_center{
        margin-top: 10px;
    }
}